.navBar {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 100vw;
  text-align: right;
  background-color: var(--cream);
  padding: 14px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /* border-bottom: 2px solid var(--purple); */
}

.login_as {
  text-align: left;
  background-color: var(--cream);
}