.navBar {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 100vw;
  text-align: right;
  background-color: var(--cream);
  padding: 14px;
  border-bottom: 2px solid var(--purple);
}

.login_as {
  text-align: left;
  background-color: var(--corn);
}