#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.App {
  /* top, right+left, bottom */
  /* padding: 30px 30px; */
  /* setting the width is messing with the margin */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.submitBtn {
  background-color: var(--violet);
  color: var(--cream);
}

.submitBtn:hover {
  background-color: var(--purple);
  /* border: 2px solid var(--dark-purple); */
}

.submitBtn:active {
  background-color: var(--violet);
}

.general-box {
  display: flex;
  margin: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--cream);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--purple);
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input[type="text"], input[type="number"], textarea {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  color: var(--black);
}

textarea {
  font-size: 14px;
}
/* form input {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
} */

.title-likes {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sol-links {
  display: flex;
  justify-content: center;
}

.NavBar Link {
  font-size: 24px;
}

.subtext {
  color: var(--gray);
  font-weight: 700;
  font-size: 14px;
}

.popup {
  transition: transform 0.5s ease-out;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--cream);
  color: var(--black);
}